<h1>Listing expansions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @expansions.each do |expansion| %>
      <tr>
        <td><%= link_to expansion, expansion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expansion', new_expansion_path %>

<%= will_paginate @expansions %>
