<h1>Card Search</h1>

<%= form_tag search_printings_path, method: 'get' do %>
  name <%= text_field_tag :name, params[:name] %>
  <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
<% end %>

<% if @printings %>
  <%= render 'list', :printings => @printings %>
<% end %>
