<table class="traded-cards table table-hover">
  <% rows.each do |row| %>
    <tr>
      <td><%= row %></td>
      <td><%= row.amount %></td>
      <td><%= row.delete_link %></td>
    </tr>
  <% end %>
</table>
